files:
  "/opt/certbot_setup.sh":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    content: |
      #!/bin/bash
      sudo wget -r --no-parent -A 'epel-release-*.rpm' http://dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/
      sudo rpm -Uvh dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-*.rpm
      sudo yum-config-manager --enable epel*
      sudo yum install certbot python-certbot-nginx -y

container_commands:
  01_setup_certbot:
    command: "/opt/certbot_setup.sh"

  02_obtain_certificate:
    command: "sudo certbot --nginx -d kupica.kr -m unagi.zoso@gmail.com --agree-tos --no-eff-email"

  03_restart_nginx:
    command: "sudo systemctl restart nginx"